<div class="container h-100 ">
  <div class="row h-100 justify-content-center align-items-center ">
    <form class="col-6 border" #form="ngForm">
      <div class="form-group">
        <input type="text" class="form-control " [(ngModel)]="username" name="username" placeholder="Username" required minlength="6" maxlength="30" #usernameEL="ngModel">
        <div [hidden]="usernameEL.valid || usernameEL.pristine" class="alert alert-danger">
          Name isn't valid
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password" required minlength="6" maxlength="30" #passwordEL="ngModel">
        <div [hidden]="passwordEL.valid || passwordEL.pristine" class="alert alert-danger">
          Password isn't valid
        </div>
      </div>
      <div class="form-group">
        <button type="button" name="button" class="btn btn-dark mybtn" [disabled]="form.invalid" (click)="addUser()">Submit</button>

      </div>
    </form>
  </div>
</div>

<router-outlet></router-outlet>
